<p>form works!</p>

<form [formGroup] = "creatProfileForm">

    <label>City</label>
  <select  formControlName="city" (change) = "onChangeCity($event)">
    <option value="" selected disabled>Select City</option>
    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option> 
  
  </select><br>

 <label >Floor</label>
  <select  formControlName="floor" (change) = "onChangeFloor($event)">
    <option value="" selected disabled>Select Floor</option>
    <option *ngFor="let floor of floors" [value]="floor.id">{{floor.name}}</option> 
  
  </select><br>

  <label >Column</label>
  <select  formControlName="column" (change) = "onChangecolumn($event)">
    <option value="" selected disabled>Select Column</option>
     <option *ngFor="let column of columns" [value]="columns.id">{{column.name}}</option> 
  
  </select><br>

  <label >Seat</label>
  <select formControlName="seat" >
    <option value="" selected disabled>Select Seat</option>
    <option *ngfor = "let seat of seats" [value]="seat.id">{{seat.name}}</option>
  
  </select><br>
</form>
